body {
    margin: 0px;
    padding: 0px;
    position: relative;
    min-height: 100vh;
    padding-bottom: 100px;
    box-sizing: border-box;
  }
  
  header, footer {
    width: 100%;
    padding: 10px;
    background: #c52f24;
    color: #fff;
    margin: 0px;
    display: block;
  }
  
  .main_container {
    margin: 50px 15px;
  }
  
  table {
    border-collapse: collapse;
  }
  
  table th {
    background-color: #ffdfdf;
  }
  
  table td {
    background-color: #f1c8c861;
    text-align: center;
  }
  
  table th, table td {
    border: solid 1px black;
    padding: 10px 20px;
  }
  
  input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
  }
  
  input[type=submit] {
    width: auto;
  }
  
  .alert {
    padding: 15px;
    width: 400px;
    text-align: center;
  }
  
  .notice {
    background-color: #98ecaa7a;
    border: 2px solid #5cd075;
  }
  
  .delete {
    background-color: #ec98ac8f;
    border: 2px solid #ec7592;
  }
  
  li {
    list-style: none;
  }
  
  .hidden {
    display: none;
  }